/* Whole Page CSS */
body {
    background-color: rgb(21, 21, 21);
    margin: 0;
}

button {
    cursor: pointer;
}

/*Nav Bar CSS */
nav {
    display: flex;
    background-color: #E50914;
    box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

nav > a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav > a:hover {
    background-color: #B20710;
}

/* Div CSS */
div {
    background-color: black;
    border: solid #E50914 4px;
    box-shadow: 0px 0px 20px #E50914;
    border-radius: 10px;
    width: 60%;
    padding-bottom: 2em;
    margin: 10% auto;
}

/* Page Title CSS */
#page-title {
    color: whitesmoke;
    border-bottom: #E50914 solid 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 0;
    margin: .5em auto;
}

/* About Text CSS */
#about-text {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 85%;
    margin: auto;
}