/* Whole Page CSS */
body {
    background-color: rgb(21, 21, 21);
    margin: 0;
}

button {
    cursor: pointer;
}

/*Nav Bar CSS */
nav {
    display: flex;
    background-color: #E50914;
    margin-bottom: 40px;
}

nav > a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav > a:hover {
    background-color: #B20710;
}

/* Search Bar CSS */
#search-bar {
    text-align: center;
}

/* Movie Cards CSS */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    max-width: 340px;
    height: auto;
    margin-bottom: 1em;
}

.card-img {
    display: block;
    border: solid #E50914 5px;
    border-radius: 10px;
    width: 90%;
    margin: 15px;
}

.card-title {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}

.card-id {
    display: none;
}