/* Whole Page CSS */
body {
    background-color: rgb(21, 21, 21);
    margin: 0;
}

button {
    cursor: pointer;
}

/*Nav Bar CSS */
nav {
    display: flex;
    background-color: #E50914;
    box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

nav > a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav > a:hover {
    background-color: #B20710;
}

/* Search Bar CSS */
#search-bar {
    text-align: center;
}

#search-bar > input[type=text] {
    border: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    width: auto;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#searchButton {
    background-color: #E50914;
    color: whitesmoke;
    border: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

#searchButton:hover {
    background-color: #B20710;
}

/* Movie Cards CSS */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    max-width: 340px;
    height: auto;
    margin-bottom: 1em;
}

.card-img {
    display: block;
    border: solid #E50914 4px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    border-radius: 10px;
    width: 90%;
    margin: 15px;
}

.card-title {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}