/* Whole Page CSS */
body {
    background-color: rgb(21, 21, 21);
    color: whitesmoke;
    margin: 0;
}

button {
    cursor: pointer;
}

/*Nav Bar CSS */
nav {
    display: flex;
    background-color: #E50914;
    box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
    margin-bottom: 60px
}

nav > a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav > a:hover {
    background-color: #B20710;
}

/* Movie Information CSS */
#movie-info-container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

#movie-poster {
    display: block;
    border: solid #E50914 4px;
    box-shadow: 0px 0px 20px #E50914;
    border-radius: 10px;
    width: 350px;
    height: auto;
    margin-right: 5%;
}

#movie-title {
    border-bottom: #E50914 solid 5px;
    margin-bottom: 0;
}

#movie-subinfo {
    white-space: pre;
    margin-top: 5px;
}