/* Whole Page CSS */
body {
    background-color: rgb(21, 21, 21);
    margin: 0;
}

button {
    cursor: pointer;
}

/*Nav Bar CSS */
nav {
    display: flex;
    background-color: #E50914;
    box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

nav > a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav > a:hover {
    background-color: #B20710;
}

/* Page Title CSS */
#page-title {
    color: whitesmoke;
    border-bottom: #E50914 solid 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    width: 50%;
    padding-top: .5em;
    padding-bottom: 0;
    margin: auto;
}

/* Empty Message CSS */
#empty-message {
    color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Movie Cards CSS */
#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    max-width: 340px;
    height: auto;
    margin-bottom: 1em;
}

.card-img {
    display: block;
    border: solid #E50914 4px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    border-radius: 10px;
    width: 90%;
    margin: 15px;
}

.card-title {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}
